<div class="p-4">
  <h4 class="fst-italic"><%= t 'articles.elsewhere' %></h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/DarlanNoetzold" target="_blank">GitHub</a></li>
    <li><a href="noetzold.tech" target="_blank">Site Pessoal</a></li>
  </ol>
</div>
